POSTGRES_DB=atomic_db
POSTGRES_USER=atomic_user
POSTGRES_PASSWORD=change_me

VAULT_DEV_ROOT_TOKEN_ID=dev-only-root-token
VAULT_URI=http://localhost:8200
VAULT_TOKEN=dev-only-root-token
VAULT_ENABLED=true
VAULT_KV_BACKEND=secret
VAULT_KV_CONTEXT=atomic-backend

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/atomic_db
