### VS Code ###
.vscode/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# IDE Specific
.idea/
*.iml
.classpath
.project
.settings/

# Ignore Helm chart vendor dependencies
**/helm/tasky-app/charts/*.tgz
**/helm/tasky-app/charts/postgresql/
**/helm/tasky-app/charts/vault/

# Ignore local GitLab CI/CD configuration files
.gitlab-ci-local